
<!-- ここから -->
<%= render 'users/sidebar', user: @user, book: @book %>

<!-- ここまで -->


<div class="col-xs-9">
    <h2>Users</h2>
	<table class = "table">
		<thead>
			<tr>
				<th class="col-xs-3">画像</th>
				<th class="col-xs-4">name</th>
				<th class="col-xs-2"></th>
			</tr>
		</thead>
		<tbody>
			<tr>
	    		<% @users.each do |user| %>
					<tr>
					<td class="col-xs-3"><%= attachment_image_tag user, :profile_image, :fill, 50, 50, class: "pull-left profile-thumb", fallback: "no_image.jpg", :size =>'50x50' %></td>
					<td class="col-xs-4"><%= user.name %></td>
					<td class="col-xs-2"><%= link_to 'Show', user_path(user.id) %>
					</tr></td>
				<% end %>
			</tr>
		</tbody>
	</table>
</div>
