★ユーザーインフォ・New　bookはこの辺にいれる★

<div class="col-xs-9">
    <h2>Book detail</h2>
	<table class = "table">
		<tbody>
			<tr>
				<td class="col-xs-2"><%= attachment_image_tag @book.user, :profile_image, :fill, 100, 100, format: 'jpeg' %></td>
				<td class="col-xs-3"><%= @book.title %></td>
				<td class="col-xs-2"><%= @book.body %></td>
			</tr>
		</tbody>
	</table>
</div>
